<div class="container">
  <mat-toolbar class="mat-elevation-z4">
      <span>Historial Turnos | {{cliente.nombre}} {{cliente.apellido}} </span>
      <div class="example-spacer"></div>
  </mat-toolbar>

  <div *ngIf="data.length >= 0">

    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let element; columns: displayedColumns;"></tr>

        <ng-container matColumnDef="fechaTurno">
          <th mat-header-cell *matHeaderCellDef> Fecha Turno </th>
          <td mat-cell *matCellDef="let element"> {{element.fecha_turno | date: 'dd/MM/yyyy'}} </td>
        </ng-container>

<!--         <ng-container matColumnDef="cliente.nombre">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
          <td mat-cell *matCellDef="let element"> {{element.cliente.nombre}} </td>
        </ng-container>

        <ng-container matColumnDef="cliente.apellido">
          <th mat-header-cell *matHeaderCellDef  mat-sort-header> Apellido </th>
          <td mat-cell *matCellDef="let element"> {{element.cliente.apellido}} </td>
        </ng-container> -->

        <ng-container matColumnDef="tratamiento.nombre">
          <th mat-header-cell *matHeaderCellDef> Tratamiento </th>
          <td mat-cell *matCellDef="let element"> {{element.tratamiento.nombre}} </td>
        </ng-container>

        <ng-container matColumnDef="turno.descripcion">
          <th mat-header-cell *matHeaderCellDef> Descripcion </th>
          <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
        </ng-container>

        <ng-container matColumnDef="precio">
          <th mat-header-cell *matHeaderCellDef> Precio </th>
          <td mat-cell *matCellDef="let element"> {{element.precio | currency}} </td>
        </ng-container>

        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef> Editar/Eliminar </th>
          <td mat-cell *matCellDef="let row" style="text-align: center;">
            <button mat-icon-button matTooltip="Modificar el cliente" (click)="onEdit(row)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" matTooltip="Eliminar el cliente" (click)="onDelete(row.id_turno)">
              <mat-icon>delete_outline</mat-icon>
            </button>
          </td>
        </ng-container>
      </table>
      <mat-paginator [length]="resultsLength" [pageSize]="10" aria-label="Select page of users"></mat-paginator>
    </div>
  </div>
  <h2 *ngIf="data.length !< 0">No hay Turnos para mostrar</h2>
</div>
