<mat-toolbar>
  <span>{{nombreComponente}}</span>
  <div class="example-spacer"></div>
</mat-toolbar>
<div>
  <p></p>
  <form (ngSubmit)="onCreate()">
    <mat-grid-list cols="2">
      <mat-form-field class="ancho" appearance="legacy">
        <mat-label>Elegir una fecha</mat-label>
        <input matInput [matDatepicker]="picker" [(ngModel)]="turno.fecha_turno" [value]="turno.fecha_turno" name="fecha_turno" placeholder="Fecha" autocomplete="off">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <p></p>
      <mat-form-field class="ancho" appearance="legacy">
        <mat-label>Precio</mat-label>
        <input matInput type="number" [(ngModel)]="turno.precio" name="precio" placeholder="Precio" autocomplete="off"/>
      </mat-form-field>
      <p></p>
      <mat-form-field appearance="legacy" class="ancho">
        <mat-label *ngIf="turno.tratamiento.nombre">{{turno.tratamiento.nombre}}</mat-label>
        <mat-select [(ngModel)]="turno.tratamiento" placeholder="Seleccione un Tratamiento" id="tratamiento" name="tratamiento">
          <mat-option *ngFor="let tratamiento of tratamientos" [value]="tratamiento">
            {{tratamiento.nombre}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <p></p>
      <mat-form-field appearance="legacy" class="ancho">
        <mat-label *ngIf="turno.cliente.nombre"> {{turno.cliente.nombre}} {{turno.cliente.apellido}}</mat-label>
        <mat-select [(ngModel)]="turno.cliente" placeholder="Seleccione un Cliente" id="cliente" name="cliente">
          <mat-option *ngFor="let cliente of clientes" [value]="cliente">
            {{cliente.nombre}} {{cliente.apellido}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <p></p>
      <mat-form-field appearance="legacy" class="ancho">
        <mat-label >Descripcion</mat-label>
        <textarea matInput [(ngModel)]="turno.descripcion" placeholder="Escriba una descripcion" id="descripcion" name="descripcion"></textarea>
      </mat-form-field>
    </mat-grid-list>
    <div mat-dialog-actions [align]="'end'">
      <button mat-raised-button color="warn" style="margin-left: 8px; height: 50px;" mat-dialog-close>Cerrar</button>
      <button type="submit" style="margin-left: 8px; height: 50px;" mat-raised-button color="primary" >Guardar</button>
    </div>
  </form>
</div>
