<mat-toolbar>
  <span>{{nombreComponente}}</span>
  <div class="example-spacer"></div>
</mat-toolbar>
<div>
  <p></p>
  <form [formGroup]="form" (ngSubmit)="onCreate()">
    <mat-grid-list cols="2">
      <mat-form-field class="ancho" appearance="legacy">
        <mat-label>Elegir una fecha</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="fecha_turno" name="fecha_turno" id="fecha_turno" placeholder="Seleccione una Fecha" autocomplete="off">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <p></p>
      <mat-form-field class="ancho" appearance="legacy">
        <mat-label>Precio</mat-label>
        <input matInput type="number" formControlName="precio" name="precio" id="precio" placeholder="Precio" autocomplete="off"/>
      </mat-form-field>
      <p></p>
      <mat-form-field appearance="legacy" class="ancho">
        <mat-label>Tratamiento</mat-label>
        <mat-select formControlName="tratamiento" name="tratamiento" id="tratamiento" placeholder="Seleccione un Tratamiento">
          <mat-option *ngFor="let tratamiento of tratamientos" [value]="tratamiento.id_tratamiento">
            {{tratamiento.nombre}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <p></p>
      <mat-form-field appearance="legacy" class="ancho">
        <mat-label>Cliente</mat-label>
        <mat-select formControlName="cliente" name="cliente" id="cliente" placeholder="Seleccione un Cliente" (openedChange)="onClienteOpened($event, inputCliente)" panelClass="select-panel-with-filter">
          <mat-option>
            <input #inputCliente type="text" placeholder="Buscar clientes..." [formControl]="filtroCliente" matInput class="input-search" autocomplete="off" (click)="$event.stopPropagation()"/>
          </mat-option>
          <mat-option *ngFor="let cliente of clienteFiltrados" [value]="cliente.id_cliente">
            {{cliente.nombre}} {{cliente.apellido}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <p></p>
      <mat-form-field appearance="legacy" class="ancho">
        <mat-label >Descripcion</mat-label>
        <textarea matInput type="text" formControlName="descripcion" name="descripcion" placeholder="Descripcion" autocomplete="off"></textarea>
      </mat-form-field>
    </mat-grid-list>
    <div mat-dialog-actions [align]="'end'">
      <button mat-raised-button color="warn" style="margin-left: 8px; height: 50px;" mat-dialog-close>Cerrar</button>
      <button type="submit" style="margin-left: 8px; height: 50px;" mat-raised-button color="primary" >Guardar</button>
    </div>
  </form>
</div>
