<mat-toolbar>
  <span>{{nombreComponente}}</span>
  <div class="example-spacer"></div>
</mat-toolbar>
<div>
  <p></p>
  <form (ngSubmit)="onCreate()">
    <mat-grid-list cols="2">
      <mat-form-field class="ancho" appearance="legacy">
        <mat-label>Nombre</mat-label>
        <input matInput type="text" [(ngModel)]="tratamiento.nombre" name="nombre" placeholder="Nombre" autocomplete="off" />
      </mat-form-field>
      <p></p>
      <mat-form-field class="ancho" appearance="legacy">
        <mat-label>Precio</mat-label>
        <input matInput type="number" [(ngModel)]="tratamiento.precio" name="precio" placeholder="Precio" autocomplete="off"/>
      </mat-form-field>
      <p></p>
      <mat-form-field class="ancho" appearance="legacy">
        <mat-label>Descripcion</mat-label>
        <input matInput type="text" [(ngModel)]="tratamiento.descripcion" name="descripcion" placeholder="Descripcion" autocomplete="off"/>
      </mat-form-field>
      <p></p>
    </mat-grid-list>
    <div mat-dialog-actions [align]="'end'">
      <button mat-raised-button color="warn" style="margin-left: 8px; height: 50px;" mat-dialog-close>Cerrar</button>
      <button type="submit" style="margin-left: 8px; height: 50px;" mat-raised-button color="primary" >Guardar</button>
    </div>
  </form>
</div>
