<div class="container">
  <mat-toolbar>
      <span>Agenda Clientes</span>
      <div class="example-spacer"></div>
      <button mat-raised-button color="primary" (click)="onAdd()">Nuevo Cliente</button>
  </mat-toolbar>

  <div *ngIf="data.length >= 0">
    <mat-form-field appearance="standard">
      <mat-label>Filtro</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Nombre/Apellido/Celular etc" #input autocomplete="off">
    </mat-form-field>

    <div class="example-container mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let element; columns: displayedColumns;"></tr>

        <ng-container matColumnDef="id_cliente">
          <th mat-header-cell *matHeaderCellDef> idCliente </th>
          <td mat-cell *matCellDef="let element"> {{element.id_cliente}} </td>
        </ng-container>

        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
          <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
        </ng-container>

        <ng-container matColumnDef="apellido">
          <th mat-header-cell *matHeaderCellDef  mat-sort-header> Apellido </th>
          <td mat-cell *matCellDef="let element"> {{element.apellido}} </td>
        </ng-container>

        <ng-container matColumnDef="celular">
          <th mat-header-cell *matHeaderCellDef> Celular </th>
          <td mat-cell *matCellDef="let element"> {{element.celular}} </td>
        </ng-container>

        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef> Email </th>
          <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>

        <ng-container matColumnDef="localidad.nombre">
          <th mat-header-cell *matHeaderCellDef> Provincia </th>
          <td mat-cell *matCellDef="let element"> {{element.localidad.nombre}} </td>
        </ng-container>

        <ng-container matColumnDef="localidad.provincia.nombre">
          <th mat-header-cell *matHeaderCellDef> Pais </th>
          <td mat-cell *matCellDef="let element"> {{element.localidad.provincia.nombre}} </td>
        </ng-container>

        <ng-container matColumnDef="historial">
          <th mat-header-cell *matHeaderCellDef> Historial </th>
          <td mat-cell *matCellDef="let element">
            <button mat-raised-button color="primary" matTooltip="Ver Historial del cliente" routerLink="/verhistorial/{{element.id_cliente}}">
              Ver Historial  <mat-icon>edit</mat-icon>
            </button>
          </td>
        </ng-container>

        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef> Editar/Eliminar </th>
          <td mat-cell *matCellDef="let row" style="text-align: center;">
            <button mat-icon-button matTooltip="Modificar el cliente" (click)="onEdit(row)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" matTooltip="Eliminar el cliente" (click)="onDelete(row.id_cliente)">
              <mat-icon>delete_outline</mat-icon>
            </button>
          </td>
        </ng-container>
      </table>
      <mat-paginator [length]="resultsLength" [pageSize]="10" aria-label="Select page of users"></mat-paginator>
    </div>
  </div>

  <h2 *ngIf="data.length !< 0">No hay Clientes para mostrar</h2>
</div>
